body {
    background: #41ACB0;
    font: normal 20pt arial;
}

header {
    color: #FFFF;
    text-align: center;
}

section {
    background: #C6F9FA;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px 10px rgba(7, 7, 7, 0.411);
}

footer {
    color: #FFFF;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 10px;
}

input.botao {
    height: 50px;
    width: 50px;
    color: black;
    background: #0850a3;
    border-radius: 30%;
}

input {
    text-align: Center;
    width: 50px;
    height: 50px;
    color:black;
    background:#FFFF; 
    display: auto;



}
.seltab{
   height: 270px;
   width: 350px;
   text-align: center;
   display: block;
   font: normal 15pt arial;
}